<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>
        </plugin>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.97.61.204:3306/my_account"
                        userId="root"
                        password="root">
        </jdbcConnection>

        <javaModelGenerator targetPackage="${targetModelPackage}" targetProject="${targetJavaProject}">
            <property name="immutable" value="true"></property>
            <property name="constructorBased" value="false"></property>
            <property name="enableSubPackages" value="false"></property>
            <property name="trimStrings" value="false"></property>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="${targetXMLPackage}" targetProject="${targetResourcesProject}"/>

        <javaClientGenerator targetPackage="${targetMapperPackage}" targetProject="${targetJavaProject}"
                             type="XMLMAPPER"/>

        <table tableName="account" domainObjectName="TAccount" >
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="account_bill" domainObjectName="TAccountBill" >
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
        <table tableName="account_freeze" domainObjectName="TAccountFreeze" >
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>
